<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    {{>head}}
</head>
    {{>nav}}
    {{!-- <h1>This is weather Page Allright</h1> --}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form" >
                        <input type="text" id="cityname" placeholder="Enter City name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">tuesday</p>
                        <p id="today_date">13 Oct</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">City | Country</p>
                        <div class="middle_layer data_hide ">
                            <p><span  id="temp">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
    <script src="js/main.js"></script>
    </body>

</html>
{{!-- data_hide --}}